<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
	To add things to your collection, just search for the game in the top search bar
	and then click add to collection when you get to the game's page.
</p>
